.contentdiv {
  text-align: center;
  width: 100%;
}
.contenchild {
  display: inline-block;
  margin: 12% 7% 12% 7%;
}
#contentchild-center {
  height: 40vh !important;
  width: 40vh !important;
}

.circleBase {
  border-radius: 50%;
  background-color: #FF5722;
  height: 30vh;
  width: 30vh;
  display: flex;
  margin: auto;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
}


.contenchild:hover .circleBase,contenchild:hover .circleBase{
  background-color: #FF9800;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}
.contenchild:hover .buttonText,contenchild:hover .buttonText{
  color: #FF9800;
}

.circleBase object {
  margin: auto;
}
.contentdiv p {
  font-size: 40pt;
  color: #727272;
}
#contenchild-center {
  height: 40vh !important;
  width: 40vh !important;
  cursor:not-allowed;
}



.notready div {
  background-color: #BDBDBD !important;
}

.notready p {
  color: #BDBDBD;
}
