@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto);

/**
 * Used colors
 *
 * primary dark:	#E64A19
 * primary:			#FF5722
 * primary light:	#FFCCBC
 * text headline:	#FFFFFF
 * text primary:	#212121
 * text secondary:	#727272
 * accent:			#FF9800
 * divider: 		#B6B6B6
 *
 */

html, body {
	background-color: #212121;
	color: #FFFFFF;
	font-family: "Roboto", Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: 100;
}